

# Dependency directories
node_modules/
jspm_packages/


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# tern
.tern-port
.tern-project

.DS_Store

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.env